In [1]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('datasets/penguins.csv')
dataset.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [2]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer

penguins_numeric = dataset.select_dtypes(include=np.number)
penguins_string = dataset.select_dtypes(exclude=np.number)

In [3]:
# Iterative imputer
imp = IterativeImputer(max_iter=10, verbose=0)
imp.fit(penguins_numeric)
imputed_penguins_n = imp.transform(penguins_numeric)
imputed_penguins_n = pd.DataFrame(imputed_penguins_n, columns=penguins_numeric.columns)

In [4]:
# Categorical imputer
imp = SimpleImputer(strategy="most_frequent")
imp.fit(penguins_string)
imputed_penguins_s = imp.transform(penguins_string)
imputed_penguins_s = pd.DataFrame(imputed_penguins_s, columns=penguins_string.columns)

In [5]:
penguins = pd.concat([imputed_penguins_n.reset_index(drop=True), imputed_penguins_s], axis=1)
penguins.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species,island,sex
0,39.10000,18.70000,181.000000,3750.000000,Adelie,Torgersen,MALE
1,39.50000,17.40000,186.000000,3800.000000,Adelie,Torgersen,FEMALE
2,40.30000,18.00000,195.000000,3250.000000,Adelie,Torgersen,FEMALE
3,43.92193,17.15117,200.915205,4201.754386,Adelie,Torgersen,MALE
4,36.70000,19.30000,193.000000,3450.000000,Adelie,Torgersen,FEMALE

In [6]:

# Insert visualization

import seaborn as sns
import matplotlib.pyplot as plt 
    
sns.pairplot(data = dataset)
plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm